{% extends "products/index.html" %}
{% block body %}
{% load static %}
    <title>بازیابی رمز عبور</title>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-7 col-xl-6 col-md-9 register">
                <div class="card my-5">
                    <div class="card-body">
                        <h5 class="shadow-sm text-center mb-4 py-3">بازیابی رمز عبور</h5>
                        <form action="{% url 'reset_password' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="username">نام کاربری :</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text my-icon"><i class="fa fa-user-plus align-middle"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="username" name="username" placeholder="نام کاربری خود را وارد کنید">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email">ایمیل :</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text my-icon"><i class="fa fa-envelope align-middle"></i></span>
                                    </div>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="ایمیل خود را وارد کنید">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block rounded-pill custom-btn font-13 mt-4">بازیابی رمز</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
